*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    background-color: rgb(160, 158, 161);
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 500px;
    width: 100%;
    margin: auto;
    margin-top: 40px; 
    padding: 20px;
    border-radius: 10px;

}
h1{
    margin-bottom: 20px;
    color: rgb(1, 48, 1);
    margin-left: 30px;
    
    
}
table{
    width: 400px;
    border-bottom: 2px solid #000;
    margin: auto;
    
}
thead {
    font-size: 24px;   
}

tbody{
    font-size: 20px;
    padding: 10px;
    font-weight: bold;

}
   
form{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;
}
form input{
    height: 40px;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
    
}
button{
    height: 40px;
    background-color: rgb(99, 201, 99);
    border: none;
    margin-top: 10px;
    color: white;
    font-weight: 800;
    cursor: pointer;
}
button:hover{
    background-color: rgb(7, 82, 7);
}


